   main>.container {
       padding: 60px 15px 0;
   }

   body {

    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   }

   .text-match {
       color: #bfbfbf;
   }

   .text-match:hover {
       color: gray;
   }

   .js-color {
       color: #e2d304;
   }

   .bs-color {
       color: #800080;
   }

   .html-color {
       color: #ff4500;
   }

   .css-color {
       color: #0b52d6;
   }

   .even {
       font-weight: bold;
   }

   .odd {
       font-weight: normal;
   }

   .row-sizer {
       min-height: 160px;
   }

   .txt-grn {
       color: #68807A;
   }

   .table-text-size {
       font-size: 12px;
   }

    .sticky-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .table-dark-blue {
        color: white;
        background-color: navy;
    }
    
    pre {
        overflow: auto;
        word-wrap: normal;
        white-space: pre;
      }